.ventana-contactos-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.ventana-contactos {
  width: 30%;
  height: 75%;
  margin-bottom: 125px;
  margin-left: 870px;
  border-radius: 20px;
  padding: 3px;
  overflow: hidden;

  background: linear-gradient(
    132deg,
    rgb(0, 0, 0),
    rgb(2, 20, 100),
    rgb(0, 0, 0),
  );

  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(5px);
  
    box-shadow: 
         inset 0 0 40px rgba(2, 33, 211, 0.63),
         0 20px 40px rgba(0, 0, 0, 0.521);
  
  opacity: 0;
  transform: scale(1) translateY(5px);

  transition: 
     opacity 0.35s ease;
     transform: 0.35s ease;  
}

.ventana-contactos.abierta{
  opacity: 1;
  transform: scale(1) translateY(0px);
}

.ventana-contactos.cerrado{
  opacity: 0;
  transform: scale(1) translateY(10px);
}

.barra-ventana-contactos {
  display: flex;
  color: white;
  height: 35px;
  padding: 0 28px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  justify-content: space-between;
  
  background: linear-gradient(
    135deg,
    rgba(4, 50, 179, 0.822),
    rgba(0, 4, 5, 0.849)

  );

}

.titulo-ventana-contactos {
  font-size: 15px;
  margin-left: 20px;
  font-weight: bold;
  margin-top: 2px;
  height: 20px;
  width: 100px;
}

.boton-cerrar-contacto{
  color: rgb(0, 46, 252);
  margin-top: 2px;
  font-weight: bold;
  cursor: pointer;
  width: 25px;
  height: 20px;
  border-radius: 5px;
  border: none;
}

.seccion-contacto{
  width: 300px;
  margin-top: 100px;
  margin-left: 13px;
  height: 200px;
  padding: 0px 0px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 1.4;
  padding: 0px 30px;
  border-radius: 10px;

  background: linear-gradient(
    135deg,
    rgba(0, 4, 5, 0.795),
    rgba(3, 38, 194, 0.562),
    rgba(0, 4, 5, 0.473)
  ); 

  box-shadow: 
    inset 0 0 10px rgba(2, 33, 211, 0.712),
         0 10px 40px rgba(0, 0, 0, 0.623);

}

.seccion-contacto h2{
  text-align: center;
  margin-bottom: 10px;
}

.seccion-contacto p{
  text-align: center;
  font-size: 15px;
}

.redes-contactos{
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 110%;
  margin-left: -10px;
  margin-bottom: 100px;

}

.icono-whatsapp, .icono-linkedin{
    width: 150px;
    margin-bottom: -140px;
}

.seccion-contacto p{
    text-align: center;
    font-size: 15px;
    margin-bottom:-30px;
}

.info-adicional-contacto p{
    font-size: 12.4px;
    text-align: center;
    margin-top: 80px;
    color: lightgray;
}

