.ventana{
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.desktop .ventana-sobre-mi{
  width: 98%;
  height: 75%;
  margin-bottom: 125px;
  border-radius: 20px;
  padding: 3px;
  overflow: hidden;

  background: linear-gradient(
    132deg,
    rgb(0, 0, 0),
    rgb(2, 20, 100),
    rgb(0, 0, 0),
  );

  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(5px);
  
    box-shadow: 
         inset 0 0 40px rgba(2, 33, 211, 0.63),
         0 20px 40px rgba(0, 0, 0, 0.521);

  opacity: 0;
  transform: scale(1) translateY(5px);

  transition: 
     opacity 0.35s ease;
     transform: 0.35s ease;
}

.desktop .ventana-sobre-mi.abierta{
  opacity: 1;
  transform: scale(1) translateY(0px);
}

.desktop .ventana-sobre-mi.cerrado{
  opacity: 0;
  transform: scale(1) translateY(10px);
}

.desktop .barra-ventana {
  display: flex;
  padding: 0px 0px;
  color: white;
  height: 44px;
  padding: 0 28px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  justify-content: space-between;
  
  background: linear-gradient(
    135deg,
    rgba(4, 50, 179, 0.822),
    rgba(0, 4, 5, 0.849)

  );

}
.desktop .icono-contacto{
  
  width: 30px;
  height: 40px;

}
.desktop .titulo-ventana {
  font-size: 15px;
  margin-right: 12%;
  font-weight: bold;
  margin-bottom: 10px;
  height: 20px;
  width: 80px;
}

.desktop .boton-cerrar-sobremi{
  color: rgb(0, 46, 252);
  margin-top: 2px;
  font-weight: bold;
  cursor: pointer;
  width: 25px;
  height: 20px;
  border-radius: 5px;
  border: none;
  
}

.desktop .contenido-ventana{
  height: calc(100% - 40px);
  overflow-y: auto;
}

.desktop .contenido-flex{
  display: flex;
  align-items: flex-start;
  gap: 100px;
}

.desktop .cuadro-imagen-perfil{
  width: 250px;
  height: 300px;
  margin-left: 200px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(
    45deg,
    rgb(0, 4, 5),
    rgb(3, 38, 194),
    rgb(0, 4, 5)
  ); 

  box-shadow: 
    0 0 15px rgba(0, 0, 0, 0.5);
}

.desktop .imagen-perfil{
  width: 250px;
  height: 300px;
  margin-right: 60px;
  border-radius: 10px;
  box-shadow: 
    0 0 25px rgba(0, 0, 0, 0.5);
}

.desktop .texto-sobre-mi{
  width: 600px;
  margin-top: 29px;
  margin-right: 120px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 1.4;
  padding: 0px 30px;
  border-radius: 10px;

  background: linear-gradient(
    135deg,
    rgba(0, 4, 5, 0.795),
    rgba(3, 38, 194, 0.562),
    rgba(0, 4, 5, 0.473)
  ); 

  box-shadow: 
    inset 0 0 10px rgba(2, 33, 211, 0.712),
         0 10px 40px rgba(0, 0, 0, 0.623);
}

/*Para Mobile*/

/*Parte de carga*/
.sobre-mi-loading{
  position: fixed;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/pantallacarga.png);
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-de-carga{
  position: relative;
  margin-top: -25px;
  margin-left: 190px;
}

.logo-sobre-mi-mobile{
  position: relative;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  margin-top: 138px;

}

.icono-sombra-mobile{
  position: relative;
  display:inline-block;
}

.icono-sombra-mobile::after{
  content: '';
  position: fixed;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 33%;
  height: 12px;
  top: 332px;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  filter: blur(1px);
  z-index: 1;
}

.barra-carga-container{
  width: 80%;
  height: 10px;
  background: #2b2a2a;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.barra-carga {
  height: 100%;
  width: 0%;
  background: linear-gradient(
    210deg,
    rgb(0, 4, 5),
    rgb(3, 38, 194),
    rgb(0, 4, 5)
  );
  border-radius: 3px;
  transition: width 0.2s ease;
}

.footer-mobile-loading{
  position: fixed;
  bottom: env(safe-area-inset-bottom);
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 360px;

  padding: 1rem;

  display: flex;
  justify-content: center;
}

.footer-contenido-loading{
  max-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;

}

.footer-contenido-loading p {
  font-size: 0.8rem;
  line-height: 1.2;
  margin: 0;
  color: #fdfcfc;
  font-family: 'Open Sans', sans-serif;
}


.contenido-sobre-mi-mobile{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
  background-image: url(../assets/seccionsobremi.png);
  z-index: 10;
}

.contenido-flex-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.boton-cerrar-sobremi-mobile{
  position: fixed;
  width: 150px;
  height: 40px;
  margin-right: 105%;
  margin-top: 50px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgb(0, 4, 5),
    rgb(3, 38, 194),
    rgb(0, 4, 5)
  ); 

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  box-shadow: 
     inset 0 0 20px rgb(2, 33, 211),
     0 10px 40px rgba(0, 0, 0, 0.795);

}

.boton-cerrar-sobremi-mobile::before{
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 35px;
  padding: 6px;

  background: linear-gradient(
    45deg,
    rgb(0, 4, 5),
    rgb(3, 38, 194),
    rgb(0, 4, 5)
  ); 

  -webkit-mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#020da8 0 0);
  -webkit-mask-composite: xor;
  
  mask:
   linear-gradient(#000 0 0) content-box,
   linear-gradient(#020da8 0 0);
   mask-composite: exclude; 

  filter: blur(1px);
}

.imagen-boton-cerrar{
  width: 40px;
  margin-left: 80px;
  margin-top: 3px;
}

.cuadro-imagen-perfil-mobile{
  width: 158px;
  height: 205px;
  margin-left: 5px;
  margin-top: 80px;
  border-radius: 15px;
  padding: 10px;
  background: linear-gradient(
    90deg,
    rgba(0, 4, 5, 0.705),
    rgba(3, 38, 194, 0.658),
    rgba(0, 4, 5, 0.658)
  ); 

  box-shadow: 
    0 0 15px rgba(0, 0, 0, 0.5);
}

.imagen-perfil-mobile{
  width: 155px;
  height: 200px;
  margin-left: 2px;
  margin-top: 2%;
  border-radius: 10px;
}

.texto-sobre-mi-mobile{
  width: 280px;
  height: 240px;
  margin-top: -80px;
  margin-right: 5px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  line-height: 1.3;
  padding: 0px 20px;
  border-radius: 10px;

  background: linear-gradient(
    135deg,
    rgba(0, 4, 5, 0.795),
    rgba(3, 38, 194, 0.562),
    rgba(0, 4, 5, 0.473)
  ); 

  box-shadow: 
    inset 0 0 10px rgba(2, 33, 211, 0.712),
         0 10px 40px rgba(0, 0, 0, 0.623);
}

.logo-sobre-mi-mobile2{
  position: fixed;
  width: 150px;
  left: 222px;
  top: -15px;
}

.footer-mobile-sobre-mi{
  position: fixed;
  bottom: env(safe-area-inset-bottom);
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 360px;

  padding: 1rem;

  display: flex;
  justify-content: center;
}

.footer-contenido-sobre-mi{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;

}

.footer-contenido-sobre-mi p {
  font-size: 0.8rem;
  line-height: 1.2;
  margin: 0;
  color: #fdfcfc;
  font-family: 'Open Sans', sans-serif;
}

