.Home-logo{
    position: fixed;
    top: 60px;
    left: 412px;
    height: 80vh;
    opacity: 0.7;
    z-index: 1;
    animation: glow 4s ease-in-out infinite;
}

@keyframes glow{
   0%   { filter: drop-shadow(0 0 5px rgba(47, 109, 255, 0.596));}
   50%  { filter: drop-shadow(0 0 16px rgba(47, 109, 255, 0.932));}
   100% { filter: drop-shadow(0 0 8px rgba(41, 112, 255, 0.918));}
}


.Home-logo-2{
    position: fixed;
    bottom: 500px;
    height: 20vh;
    margin: 0;
    z-index: 1;

}

.cuadro-horario-home{
  position: fixed;
  display: flex;
  gap: 8px;
  left: 41%;
  top: 12px;
  z-index: 2;
}

.hora-home{
  color: white;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  z-index: 2;
}

.fecha-home{
  color: white;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  z-index: 2;
}
.fondo-fijo-home{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./fondohome.png');
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.contenido-home{
  position: relative;
  width: 480px;
  border-radius: 29px;
  padding: 6px;
  top: 150px;
  left: 50px;
  z-index: 5;

  background: linear-gradient(
    135deg,
    rgba(0, 4, 5, 0.726),
    rgba(2, 33, 172, 0.247),
    rgba(0, 4, 5, 0.664)

  );

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  box-shadow: 
     inset 0 0 20px rgba(2, 33, 211, 0.35),
     0 20px 40px rgba(0, 0, 0, 0.45);
           
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.contenido-home:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.contenido-home::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 35px;
  padding: 6px;

  background: linear-gradient(
    45deg,
    rgb(0, 4, 5),
    rgb(3, 38, 194),
    rgb(0, 4, 5)
  ); 

  -webkit-mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#020da8 0 0);
  -webkit-mask-composite: xor;
  
  mask:
   linear-gradient(#000 0 0) content-box,
   linear-gradient(#020da8 0 0);
   mask-composite: exclude; 

  z-index: 5;
  filter: blur(8px);
}

.contenido-home h1{
    color: white;
    font-size: 2rem;
    margin-bottom: 10px;
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
    z-index: 5;
}

.contenido-home p{
    color: white;
    font-size: 1.2rem;
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
    z-index: 5;
}

.boton{
  display: flex;
  gap: 25px;
  margin-left: 30px;
  z-index: 5;
}

.btn{
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.747);
  border: 2px solid rgb(4, 27, 156);
  border-radius: 10px;
  text-decoration: none;
  z-index: 5;
  transition: all 0.6s ease;
}

.btn:hover{
  transform: scale(1.2) translateY(-5px);
}

.menu{
  position: fixed;
  bottom: 40px;
  left: 31.4%;

  display: flex;
  gap: 50px;
  z-index: 1000;

  padding: 5px 40px;
  border-radius: 15px;


  background: linear-gradient(
    180deg,
    rgba(11, 44, 192, 0.904),
    rgba(0, 4, 5, 0.397)

  );

 box-shadow: 
     inset 0 0 20px rgba(2, 33, 211, 0.35),
     0 16px 30px rgba(0, 0, 0, 0.767),
      0 0 20px rgba(16, 111, 235, 0.637);


}

.logo-menu{
  height: 50px;
  z-index: 5;
}

.icono-con-sombra{
  position: relative;
  display:inline-block;
}

.icono-con-sombra::after{
  content: '';
  position: absolute;
  bottom: -0px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 12px;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  filter: blur(1px);
  z-index: 1;
}

.btn-inicio, .btn-sobre-mi, .btn-proyectos, .btn-contactos{  
  background: none;
  border: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px
}

.home-logo-inicio, .home-logo-sobre-mi, .home-logo-proyectos, .home-logo-contactos{
  height: 45px;
  z-index: 5;
  transition: all 0.4s ease;
}

.home-logo-inicio:hover, 
.home-logo-sobre-mi:hover, 
.home-logo-proyectos:hover, 
.home-logo-contactos:hover{

  transform: scale(1.2) translateY(-5px);

}

.texto-menu{
  color: white;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  z-index: 5;
}

.footer-home{
  position: fixed;
  bottom: env(safe-area-inset-bottom);
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 360px;

  padding: 0rem;

  display: flex;
  justify-content: center;
}

.footer-contenido-home{
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;

}

.footer-contenido-home p{
  font-size: 0.7rem;
  line-height: 1.2;
  margin: 0;
  color: #fdfcfc;
  font-family: 'Open Sans', sans-serif;
}

/*Parte Mobile*/

.fondo-fijo-mobile-home{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./fondohomem.png');
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.Home-mobile-logo{
  position: fixed;
  width: 85%;
  margin-left: 29px;
  margin-top: 42%;
  z-index: 1;
  animation: glow 4s ease-in-out infinite;
}

@keyframes glow{
   0%   { filter: drop-shadow(0 0 5px rgba(47, 109, 255, 0.596));}
   50%  { filter: drop-shadow(0 0 16px rgba(47, 109, 255, 0.932));}
   100% { filter: drop-shadow(0 0 8px rgba(41, 112, 255, 0.918));}
}

.Home-mobile-logo-2{
  position: fixed;
  top: -22px;
  right: 50%;
  margin: 0;
}

.contenido-home-mobile{
  position: fixed;
  width: 180px;
  border-radius: 29px;
  height: 190px;
  top: 200px;
  left: 25px;
  z-index: 5;

  background: linear-gradient(
    135deg,
    rgba(0, 4, 5, 0.726),
    rgba(2, 33, 172, 0.247),
    rgba(0, 4, 5, 0.664)

  );

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  box-shadow: 
     inset 0 0 20px rgba(2, 33, 211, 0.35),
     0 20px 40px rgba(0, 0, 0, 0.45);
}

.contenido-home-mobile::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 35px;
  padding: 6px;

  background: linear-gradient(
    45deg,
    rgb(0, 4, 5),
    rgb(3, 38, 194),
    rgb(0, 4, 5)
  ); 

  -webkit-mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#020da8 0 0);
  -webkit-mask-composite: xor;
  
  mask:
   linear-gradient(#000 0 0) content-box,
   linear-gradient(#020da8 0 0);
   mask-composite: exclude; 

  z-index: 5;
  filter: blur(8px);
}

.contenido-home-mobile h1{
   position: relative;
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
    z-index: 5;
}

.contenido-home-mobile p{
    position: fixed;
    color: white;
    font-size: 0.9rem;
    margin-top: 5px;
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
    z-index: 5;
}

.boton-mobile{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 60%;
  padding: 5px;
  margin-top: 64%;
  z-index: 5;
}

.boton-mobile a{
  font-size: 0.7rem;
  text-align: center;
}

.btn-mobile{
  display: inline-block;
  padding: 15px 25px;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.747);
  border: 2px solid rgb(4, 27, 156);
  border-radius: 10px;
  text-decoration: none;
  z-index: 5;
}

.mobile-menu {
  position: fixed;
  bottom: env(safe-area-inset-bottom);
  left: 50%;
  transform: translate(-50%, -70px);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px 50px;
  border-radius: 24px;

}


.btn-mobile-opci{
  background: none;
  border: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-logo-opci{
  height: 55px;
  z-index: 5;
}

.texto-menu-mobile{
  color: white;
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
  z-index: 5;
}

.footer-mobile-home{
  position: fixed;
  bottom: env(safe-area-inset-bottom);
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 360px;

  padding: 1rem;

  display: flex;
  justify-content: center;
}

.footer-contenido-home-mobile{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;

}

.footer-contenido-home-mobile p{
  font-size: 0.8rem;
  line-height: 1.2;
  margin: 0;
  color: #fdfcfc;
  font-family: 'Open Sans', sans-serif;
}